<div class="jumbotron">
  <h2><%= "Your reward is #{@question.reward}" %></h2>

  <%= link "Next Question", to: question_path(@conn, :show, @child_question), class: "btn btn-default btn-xs" %>
</div>
